<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homoney</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- Load axios for communication with server -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Load material design icons -->
    <link type="text/css" rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" />
</head>
<body>

    <b-navbar toggleable="lg" type="dark" variant="dark" id="navbar">
        <b-navbar-brand href="#">Homoney</b-navbar-brand>
    </b-navbar>

    <div class="container">
        <div class="row c-row-upper">
            <div class="col-md c-col">
                <h1>Incomes</h1>
                <b-list-group class="c-comes-list border border-dark" id="incomes">
                    <b-list-group-item class="list-group-item-action c-list-item" v-for="item in items" v-b-toggle="'item_' + [[ item.id ]] + '_collapse'">
                        <b-row>
                            <b-col cols="1"><i v-bind:class="[[ item.icon ]]" class="item-icon" aria-hidden="true"></i></b-col>
                            <b-col cols="8"><span class="item-desc">[[ item.desc ]]</span></b-col>
                            <b-col>
                                <span class="item-value-in">[[ item.value ]][[ item.currency ]]</span>
                            </b-col>
                        </b-row>
                        <b-collapse v-bind:id="'item_' + [[ item.id ]] + '_collapse'">
                            <b-row class="text-right c-row-upper">
                                <b-col>
                                      <b-button size="sm" variant="danger" @click.stop="rm_item(item.id)">Remove</b-button>
                                </b-col>
                            </b-row>
                        </b-collapse>
                    </b-list-group-item>
                </b-list-group>
            </div>
            <div class="col-md c-col">
                <h1>Outcomes</h1>
                <b-list-group class="c-comes-list border border-dark" id="outcomes">
                    <b-list-group-item class="list-group-item-action c-list-item" v-for="item in items" v-b-toggle="'item_' + [[ item.id ]] + '_collapse'">
                        <b-row>
                            <b-col cols="1"><i v-bind:class="[[ item.icon ]]" class="item-icon" aria-hidden="true"></i></b-col>
                            <b-col cols="8"><span class="item-desc">[[ item.desc ]]</span></b-col>
                            <b-col>
                                <span class="item-value-out">[[ item.value ]][[ item.currency ]]</span>
                            </b-col>
                        </b-row>
                        <b-collapse v-bind:id="'item_' + [[ item.id ]] + '_collapse'">
                            <b-row class="text-right c-row-upper">
                                <b-col>
                                      <b-button size="sm" variant="danger" @click.stop="rm_item(item.id)">Remove</b-button>
                                </b-col>
                            </b-row>
                        </b-collapse>
                    </b-list-group-item>
                </b-list-group>
            </div>
        </div>
        <div class="row c-row-upper" id="comes-menu">
            <b-col>
                <b-input-group prepend="New income">
                    <b-form-select v-model="incomes.selected" :options="incomes.options" class="c-new-item-select"></b-form-select>
                    <b-form-input v-model="incomes.value" type="number"></b-form-input>
                    <b-input-group-append>
                        <b-button variant="success" @click="add_item('in')">+</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
            <b-col>
                <b-input-group prepend="New outcome">
                    <b-form-select v-model="outcomes.selected" :options="outcomes.options" class="c-new-item-select"></b-form-select>
                    <b-form-input v-model="outcomes.value" type="number"></b-form-input>
                    <b-input-group-append>
                        <b-button variant="danger" @click="add_item('out')">+</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
        </div>
        <div class="row c-row-upper c-row-down" id="comes-stats">
            <b-col>
            </b-col>
            <b-col cols="4">
                <b-card title="Balance" class="text-right" v-model="summary">
                    <b-list-group flush>
                        <b-list-group-item class="text-success"><span class="float-left">+</span>[[ summary.income ]][[ summary.currency ]]</b-list-group-item>
                        <b-list-group-item class="text-danger"><span class="float-left">-</span>[[ summary.outcome ]][[ summary.currency ]]</b-list-group-item>
                        <b-list-group-item class="text-dark">[[ summary.balance ]][[ summary.currency ]]</b-list-group-item>
                    </b-list-group>
                </b-card>
            </b-col>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>